.footer {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  .logo {
    cursor: pointer;
    color: white;
    font-size: 30px;
  }

  .navRight {
    ul {
      display: flex;
      gap: 0 20px;

      li {
        cursor: pointer;
      }
    }
  }
}
